.research-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.research-heading {
  border-bottom: solid 1px #02324b;
}

.research-lists-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
