.prodcuts-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  color: #000;
}

.home-body-imgs {
  height: 200px;
  width: 90%;
  margin-top: 20px;
  border-radius: 20px;
  object-fit: 100% 100%;
  box-shadow: #00000059 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  .home-body-imgs {
    height: 300px;
  }
}
.products-heading {
  font-weight: bold;
  font-size: 45px;
  color: #fff;
  margin-bottom: 30px;
}

.products-sub-heading {
  font-weight: bold;
  align-self: flex-start;
}

.products-items-container {
  margin-top: 30px;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  height: 62vh;
  overflow-y: scroll;
}
