.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  min-height: 100vh;
  color: #fff;
  font-family: Roboto;
}

.home-heading {
  font-size: 25px;
  margin-bottom: 20px;
}

.home-va-heading-con {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: #64646f33 0px 7px 29px 0px;
  min-height: 200px;
  font-weight: bold;
}

.va-heading {
  font-size: 25px;
}

.va-heading {
  color: #011425;
}
.va-btn {
  background-image: url("../../assets/images/pngwing.com.png");
  border: 0;
  height: 90px;
  width: 120px;
  background-size: cover;
  background-color: #00000000;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media screen and (min-width: 768px) {
  .home-container {
    justify-content: center;
  }

  .home-heading {
    font-size: 60px;
  }
  .home-va-heading-con {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .va-heading {
    font-size: 35px;
    width: 80%;
  }

  .va-btn {
    height: 120px;
    width: 150px;
    background-size: contain;
    font-size: 13px;
    text-align: center;
    padding-right: 20px;
  }
}
